.history-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.history{
    width: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
}
.past-history{
  margin-top: 2rem;
  width: 80%;
  min-height: 80px;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #f0f0f0;
  background-color: #f0f0f0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  resize: none;
}
.history-heading{
color: black;
text-decoration: none;
font-family: 'Segoe UI', sans-serif;
}
