.prompt-input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prompt-input{
    width: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
}
.prompt-input-field{
  margin-top: 2rem;
  width: 80%;
  height: 80px;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #f0f0f0;
  background-color: #f0f0f0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  resize: none;
}
.prompt-input-button{
  width: 30%;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 10px;
  background-color: #6808c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}
